<!---combination of http and js--->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>A simple To do List APP</h2>
        <form action="/tasks" method="POST">
            <input type="text" name="newTask" placeholder="Add a New Task">
            <button type="submit"> Add Task</button>
        </form>
        <h2>Added Task</h2>

        <ul>
            <div>
                <div>
                    <% task.forEach(elem=>{ %>
                        <div class="task">
                            <span>
                                <%=elem.task %>
                            </span>
                            <input type="checkbox" class="doneCheckbox" name="check" value="<%=elem.task %>"></input>
                        </div>
                        <% }) %>
                </div>
            </div>
        </ul>
        <button onclick=deleteTask()>Remove</button>


        <form action="/tasks/deleteall" method="POST">
            <button type="submit">Delete All Tasks</button>
        </form>




    </div>

    <script>
        function deleteTask() {
            let selectedTasks = document.querySelectorAll('input[type=checkbox]:checked');
            let tasksToDelete = []
            for (task of selectedTasks) {
                tasksToDelete.push(task.value)

            }
            console.log(tasksToDelete)
            fetch('/tasks', {
                
                method: "DELETE",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ ids: tasksToDelete })
            })
                .then(response => response.json())
                .then(data => {
                    
                        window.location.reload();
                    
                })
        }



    </script>
</body>

</html>