<!---combination of http and js--->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>A simple To do List APP</h2>
        <form action="http://localhost:3000/tasks" method="POST">
            <input type="text" name="newTask" placeholder="Add a New Task">
            <button type="submit">
                Add Task
            </button>
        </form>

        <div >
            
                <% task.forEach(task=>{ %>
                        <div class="task">
                            <span><%=task.text %></span>
                    <button class="buttn" id="<%=task.id %>"> Delete</button></div>
                    <% }) %>
                
        
        </div>
        <script>
        
        let delButton = document.getElementsById("deleteButtn");
            delButton.addEventListener('click', function (event) { })
        </script>
</body>

</html>