body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.container {
    background-color: #F0EDCF;
    height: 320px;
    width: 320px;
}

h2 {
    text-decoration: underline #73CD86;
}

/*changes background of the list with the items */
.task {
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 10px;
    
}

.buttn {
    align-self: flex-end;
    background-color: #F6EAF8;

}